body {
  font-size: 22px;
  color: #898989;
  font-family: 'Dancing Script',cursive;
  text-decoration: none;
  transition: color .25s ease;
}

.App {
  text-align: center;
  /* font-family: 'Open Sans',sans-serif; */
}
.header img 
{
  width: 150px;
  height: 150px;
}

.menu
{
  border-top: 1px dashed #c4c4c4;;
  border-bottom: 1px dashed #c4c4c4;;
  display: flex;
  justify-content: space-between;
}
.menu a {
  padding-top: 20px;
  padding-bottom: 10px;
  cursor: pointer;
}

.menu a:hover {
  color: #83cfd7;
}

.menu ul {
  flex-direction: row;
}

@font-face
{
  font-family: "Dancing Script";
  /* src: url("./resources/fonts/DancingScript-Regular.eot"); */
  /* src: url("./resources/fonts/DancingScript-Regular.woff") format("woff"); */
  src: url("./resources/fonts/DancingScript-Regular.otf") format("opentype");
}

